<p>PÁGINA DEMO PARA LAS PRUEBAS</p>
<p>Prueba de PIPE</p>


<!--aqui se esta creando una cajita de texto que lleva por defecto
el valor del title pero que se puede reescribir-->

<!-- <input type="text" [(ngModule)]="title"> -->

<!-- <input type="text" [(ngModel)]="power">
{{ power | exponential }}  -->

 <!-- <app-product></app-product> esto me trae todo lo que se encuentra en su html,
es decir, todo lo que esta en product.component.html -->

<!--aquí se está realizando una condición, si el valor del title
es igual a "michelle" mostrará el mensaje-->

  <!-- <div *ngIf="title === 'michelle'">
    Esto es una prueba de Michelle
  </div>
  <div *ngIf="title === 'david'">
    Esto es una prueba de David
  </div>
  <div *ngIf="title === 'camilo'">
    Esto es una prueba de Camilo
  </div>  -->

<!-- Otra manera de hacer estas comparaciones o condiciones es usando "ngSwitch" -->
<!-- <div [ngSwitch]="title">
  <p *ngSwitchCase="'michelle'">Esta es Michelle</p>
  <p *ngSwitchCase="'david'">Este es David</p>
  <p *ngSwitchCase="'camilo'">Este es Camilo</p>
  <p *ngSwitchDefault>No hay Match</p>
</div> -->

<!--Creamo sun boton que permite agregar items (los nombres creados)-->
<!-- <button (click)="addItem()">Agregar item</button> -->

<!--La lista se repetira dependiendo de la cantidad de items, 
  el "name" pude ser cualquier cosa-->
<!-- <ul>
  <li *ngFor="let name of items; index as i">
    {{name}} {{i}}
  <button (click)="deleteItem(i)">Borrar item</button>
  </li>
</ul>  -->

<!-- si la longitud de items (nombres) son cero (0) entonces muestra el msj -->
<!-- <p *ngIf="items.length === 0">La lista esta vacía</p>  -->
